---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      x-limit:
      - '50'
      x-offset:
      - '0'
      x-total:
      - '30'
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5c73b29f8974d1186277065be660e464"'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"28170","account_id":"857","transaction_type":"sepa_payin","transaction_type_details":{"sepa_credit_transfer_id":null,"remote_name":"Fischer Alexander","remote_iban":"DE90048273272084390548","remote_bic":"DAKVDEFFNL1"},"subject":"Gutschrift 9/2007","amount":4793,"currency":null,"booking_date":"2015-07-12","value_date":"2015-07-13","booking_code":null,"return_transaction_id":null,"created_at":"2015-08-26T15:43:30Z","updated_at":"2015-08-26T15:43:30Z"},{"id":"28171","account_id":"857","transaction_type":"sepa_payin","transaction_type_details":{"sepa_credit_transfer_id":null,"remote_name":"Becker Jan","remote_iban":"DE08474121590232607273","remote_bic":"TVBADEFF001"},"subject":"Gehalt 7/2005","amount":95322,"currency":null,"booking_date":"2015-07-17","value_date":"2015-07-18","booking_code":null,"return_transaction_id":null,"created_at":"2015-08-26T15:43:30Z","updated_at":"2015-08-26T15:43:30Z"},{"id":"28172","account_id[...]
