---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/transactions/28170
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"05417ea596981b50198dc66bb6bec870"'
    body:
      encoding: UTF-8
      string: '{"id":"28170","account_id":"857","transaction_type":"sepa_payin","transaction_type_details":{"sepa_credit_transfer_id":null,"remote_name":"Fischer
        Alexander","remote_iban":"DE90048273272084390548","remote_bic":"DAKVDEFFNL1"},"subject":"Gutschrift
        9/2007","amount":4793,"currency":null,"booking_date":"2015-07-12","value_date":"2015-07-13","booking_code":null,"return_transaction_id":null,"created_at":"2015-08-26T15:43:30Z","updated_at":"2015-08-26T15:43:30Z"}'
  recorded_at: Thu, 10 Sep 2015 16:04:52 GMT
recorded_with: VCR 2.9.3
