---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/password_resets
    body:
      encoding: UTF-8
      string: '{"type":"reset_token","token":"AsCsZn73D2ktsFxtJZLr","password":"12345678","confirm_password":"12345678"}'
    headers:
      Authorization:
      - Basic aHRhdXRoLXVzZXI6aHRhdXRoLXBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      strict_transport_security:
      - max-age=31536000; includeSubDomains
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7363e85fe9edee6f053a4b319588c086"
      location:
      - ''
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Thu, 13 Oct 2016 15:43:54 GMT
recorded_with: VCR 2.9.3
