---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/preauths/387888
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id": "387888","account_id": "62073200","amount": 7480,"currency": "EUR","expires_at": "2015-10-25T00:00:00+00:00","preauth_type": "creditcard_preauth","preauth_type_details": {"cc_merchant_name": "NTC Europe S A","cc_merchant_category": "5499","cc_type": "00","cc_category": "T","cc_sequence": "6882471","pos_code": "812","financial_network_code": "MCS"},"created_at": "2015-09-25T18:29:45Z","updated_at": "2015-09-25T18:29:45Z"}'
  recorded_at: Fri, 25 Sep 2015 20:16:20 GMT
recorded_with: VCR 2.9.3
