---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/beneficiaries
    body:
      encoding: UTF-8
      string: '{"account_id":"91318832","unique_name":"jj_doey","contact":{"name":"John
        Doe","address_line_1":"Contact Address 1","address_line_2":"Contact Address
        2","city":"Contact City","country":"Contact Country"},"bank":{"name":"Bank
        Name","address_line_1":"Bank Address 1","address_line_2":"Bank Address 2","city":"Bank
        City","country":"Bank Country"},"routing_type":"ACH","routing_info":{"account_number":"0987654321","routing_code":"12345678"}}'
    headers:
      Authorization:
      - Bearer 73570bdde25a22bc7219acd1d43a1cde
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      x-fidor-confirmation-path:
      - "/fidor_api/confirmable/actions/0de1b9c4-d821-41e2-a753-cf63bab56d66"
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '119'
      x-miniprofiler-ids:
      - '["78j9poesmtgqdritpvw7","e0geagr997lhneqvy9jo","io7mgmtts1q8xexel0f1","hgs7uxullw051c6v3phk","by3rv24d7ooy4ogvoz6z","k6kopttd2oxkz6ckqylu","fengurtqi9pdwbzt2fr9","m4wodja7mafrlizeypmx","c4id4svfm3hjtnlog1v4","4e5er1y1zmalmtlo705a"]'
    body:
      encoding: UTF-8
      string: '{"id":"9e6155e9-9b6f-464f-a14f-4db44e2ea1e2","account_id":"91318832","unique_name":"jj_doey","contact":{"name":"John
        Doe","address_line_1":"Contact Address 1","address_line_2":"Contact Address
        2","city":"Contact City","country":"Contact Country"},"bank":{"name":"Bank
        Name","address_line_1":"Bank Address 1","address_line_2":"Bank Address 2","city":"Bank
        City","country":"Bank Country"},"routing_type":"ACH","routing_info":{"account_number":"0987654321","routing_code":"12345678"},"verified":false,"created_at":"2016-09-08T10:13:02Z","updated_at":"2016-09-08T10:13:02Z"}'
  recorded_at: Thu, 08 Sep 2016 10:13:02 GMT
recorded_with: VCR 2.9.3
