---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"29208706","external_uid":"4279762F8","amount":1000,"currency":"USD","subject":"Money
        for you","beneficiary":{"contact":{"name":"John Doe"},"routing_type":"SWIFT","routing_info":{"account_number":"DE08100100100666666666","swift_code":"FDDODEMMXXX","account_currency":"EUR"}}}'
    headers:
      Authorization:
      - Bearer 0816d2665999fbd76a69c6f0050a49fa
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-fidor-confirmation-path:
      - "/fidor_api/confirmable/actions/8437c0c7-f704-4fc8-8ee0-3c18aedc8484"
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '57'
      x-ratelimit-reset:
      - '776'
    body:
      encoding: UTF-8
      string: '{"account_id":"29208706","external_uid":"4279762F8","amount":1000,"currency":"USD","exchange_rate":0.9713704206,"subject":"Money
        for you","beneficiary":{"contact":{"name":"John Doe"},"routing_type":"SWIFT","routing_info":{"account_number":"DE08100100100666666666","swift_code":"FDDODEMMXXX","account_currency":"EUR"}}}'
  recorded_at: Tue, 28 Jun 2016 12:32:05 GMT
recorded_with: VCR 2.9.3
