---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/cards/8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      x-ratelimit-limit:
      - '9999'
      x-ratelimit-reset:
      - '400'
      x-ratelimit-remaining:
      - '9997'
      x-miniprofiler-ids:
      - '["ji5lh7y8pd5hgj7p2aho","3cd7z647kaxr46d988fc","erbnefr18nbdivj47093","5aiaedv7x1z6nonall8l","ve8u22lp6ca9s3kzi47o","f78gw4v6dflomm8twgiu","oie64vipfq1447p4zum0","wc4iqghlspcxbio7sxz6","aqdywpz9z3zijgt41yp7","cx4vfnguu4bbpwxhsqfk"]'
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":8,"account_id":"32505377","inscription":"SOME INSCRIPTION","type":"fidor_debit_master_card","design":"debit-card","currency":"EUR","physical":true,"valid_until":"2019-08-30T22:00:00Z","balance":0,"atm_limit":30000,"transaction_single_limit":40900,"transaction_volume_limit":50000,"email_notification":true,"sms_notification":false,"payed":true,"state":"card_registration_completed","lock_reason":"lost","disabled":false,"atm_details":{"free_period":{"range":"1month","beginning_at":"2016-07-31T22:00:00Z","ending_at":"2016-08-31T21:59:59Z","recurring":true,"free_occurrences":1,"occurrences":0},"fee_fixed":250},"created_at":"2016-08-11T12:58:22Z","updated_at":"2016-08-12T14:08:10Z"}'
  recorded_at: Fri, 12 Aug 2016 14:23:21 GMT
- request:
    method: put
    uri: https://aps.fidor.de/cards/8/activate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 303
      message:
    headers:
      x-ratelimit-limit:
      - '9999'
      x-ratelimit-reset:
      - '400'
      x-ratelimit-remaining:
      - '9996'
      location:
      - https://aps.fidor.de/confirmable/actions/d87d3913-90cb-4965-80c5-e3ebf9ef6cb3
      status:
      - 303 See Other
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://aps.fidor.de/confirmable/actions/d87d3913-90cb-4965-80c5-e3ebf9ef6cb3">redirected</a>.</body></html>
  recorded_at: Fri, 12 Aug 2016 14:23:21 GMT
recorded_with: VCR 2.9.3
