---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/cards/42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9994'
      x-ratelimit-reset:
      - '3330'
      x-miniprofiler-ids:
      - '["8g1guf7tiv5z5390rgpk","xplab53tesegv7fmzmcg","x76imk6h0sf1ha3x6l20","q73wdx548at6v7yp8ges","5vk7kgh2wvkquvc347g3","tnvb4z26upeodsn4oddw","l38rb1jkmzpdx27u50ci","s1baug81v7nyuebx8hfe","6x453df7bh8virtyhwk6","91ruvgpnguelbxh2i01w"]'
      location:
      - ''
      x-fidor-api-machine:
      - api-sandbox.fidor.intern
    body:
      encoding: UTF-8
      string: '{"id":42,"account_id":"875","inscription":"Philipp Müller","type":"fidor_debit_master_card","design":"debit-card","currency":"EUR","physical":true,"valid_until":"2018-11-29T23:00:00Z","balance":0,"atm_limit":100000,"transaction_single_limit":200000,"transaction_volume_limit":300000,"limits":{"atm":100000,"single":200000,"volume":300000},"email_notification":true,"sms_notification":false,"payed":true,"state":"card_registration_completed","lock_reason":null,"disabled":true,"created_at":"2015-11-03T11:07:25Z","updated_at":"2015-11-09T10:55:06Z"}'
  recorded_at: Fri, 25 Mar 2016 10:04:37 GMT
recorded_with: VCR 2.9.3
