---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/cards/42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9976'
      x-ratelimit-reset:
      - '2333'
      x-miniprofiler-ids:
      - '["ssqtjv1urky5qelp548f","dms5jvcsp0sp3lbm84fe","tkmcaktaxxmu8yj4kjhb","nc9wfqyi6fhwsic3qapa","vri2cn72z43ftuo16oa3","f0uzwfqk7ftx6bccoab8","eght7xskej6duzcz5qdz","vfu508rhpsa2gp3dpgh7","hdwz4bzu9g0mnsj5oott","lcyebkdk0j5ssu45dsae"]'
      location:
      - ''
      x-fidor-api-machine:
      - api-sandbox.fidor.intern
    body:
      encoding: UTF-8
      string: '{"id":42,"account_id":"20487464","inscription":"Klaus Meyer","type":"fidor_debit_master_card","design":"debit-card","currency":"EUR","physical":true,"valid_until":"2019-03-30T23:00:00Z","balance":0,"atm_limit":100000,"transaction_single_limit":100000,"transaction_volume_limit":100000,"email_notification":true,"sms_notification":false,"payed":true,"state":"card_registration_completed","lock_reason":null,"disabled":true,"created_at":"2016-03-25T15:09:40Z","updated_at":"2016-03-26T10:19:41Z"}'
  recorded_at: Sat, 26 Mar 2016 10:21:08 GMT
- request:
    method: put
    uri: https://aps.fidor.de/cards/42/unlock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message:
    headers:
      status:
      - 204 No Content
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9975'
      x-ratelimit-reset:
      - '2333'
      x-fidor-api-machine:
      - api-sandbox.fidor.intern
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 26 Mar 2016 10:21:09 GMT
- request:
    method: get
    uri: https://aps.fidor.de/cards/42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9974'
      x-ratelimit-reset:
      - '2332'
      x-miniprofiler-ids:
      - '["fhc6agtp3fy2pa4jtlhh","dms5jvcsp0sp3lbm84fe","tkmcaktaxxmu8yj4kjhb","nc9wfqyi6fhwsic3qapa","vri2cn72z43ftuo16oa3","f0uzwfqk7ftx6bccoab8","eght7xskej6duzcz5qdz","vfu508rhpsa2gp3dpgh7","hdwz4bzu9g0mnsj5oott","lcyebkdk0j5ssu45dsae"]'
      location:
      - ''
      x-fidor-api-machine:
      - api-sandbox.fidor.intern
    body:
      encoding: UTF-8
      string: '{"id":42,"account_id":"20487464","inscription":"Klaus Meyer","type":"fidor_debit_master_card","design":"debit-card","currency":"EUR","physical":true,"valid_until":"2019-03-30T23:00:00Z","balance":49992876,"atm_limit":100000,"transaction_single_limit":100000,"transaction_volume_limit":100000,"email_notification":true,"sms_notification":false,"payed":true,"state":"card_registration_completed","lock_reason":null,"disabled":false,"created_at":"2016-03-25T15:09:40Z","updated_at":"2016-03-26T10:21:08Z"}'
  recorded_at: Sat, 26 Mar 2016 10:21:09 GMT
recorded_with: VCR 2.9.3
