---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/internal_transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a1e8f8d70e5490611c4ef051f3a36e09
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      status:
      - 200 OK
      x-limit:
      - '50'
      x-offset:
      - '0'
      x-total:
      - '10'
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1d71616de56fb38ab99fe9aa57e59fd5"'
    body:
      encoding: UTF-8
      string: '[{"id":"2366","external_uid":"4279762F5","account_id":"875","user_id":"875","transaction_id":"28836","receiver":"kycfull@fidor.de","amount":1000,"currency":null,"subject":"Money
        for you","state":"success","created_at":"2015-09-12T00:10:57Z","updated_at":"2015-09-12T00:11:06Z"},{"id":"2365","external_uid":"4279762F3","account_id":"875","user_id":"875","transaction_id":"28835","receiver":"kycfull@fidor.de","amount":1000,"currency":null,"subject":"First
        Test","state":"success","created_at":"2015-09-11T23:53:37Z","updated_at":"2015-09-11T23:53:46Z"},{"id":"2364","external_uid":"4279762F2","account_id":"875","user_id":"875","transaction_id":"28834","receiver":"kycfull@fidor.de","amount":1000,"currency":null,"subject":"First
        Test","st[...]
