---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/internal_transfers/2366
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a1e8f8d70e5490611c4ef051f3a36e09
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"658d38e3c128d74c8fa39c82db160bee"'
    body:
      encoding: UTF-8
      string: '{"id":"2366","external_uid":"4279762F5","account_id":"875","user_id":"875","transaction_id":"28836","receiver":"kycfull@fidor.de","amount":1000,"currency":null,"subject":"Money
        for you","state":"success","created_at":"2015-09-12T00:10:57Z","updated_at":"2015-09-12T00:11:06Z"}'
  recorded_at: Sat, 12 Sep 2015 01:16:11 GMT
recorded_with: VCR 2.9.3
