---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/internal_transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer c4ad7a28e4728591cfefee1152165feb
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message:
    headers:
      status:
      - 500 Internal Server Error
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":422,"errors":[{"field":"base","message":"something global"},{"field":"account_id","message":"something specific"}],"message":"Validation failed"}'
  recorded_at: Sat, 12 Sep 2015 00:34:52 GMT
recorded_with: VCR 2.9.3
