---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/internal_transfers
    body:
      encoding: UTF-8
      string: '{"account_id":875,"receiver":"kycfull@fidor.de","external_uid":"4279762F5","amount":1000,"subject":"Money
        for you"}'
    headers:
      Authorization:
      - Bearer c4ad7a28e4728591cfefee1152165feb
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"c32910763bfa4939f8224b67b068710c"'
    body:
      encoding: UTF-8
      string: '{"id":"2366","external_uid":"4279762F5","account_id":"875","user_id":"875","transaction_id":null,"receiver":"kycfull@fidor.de","amount":1000,"currency":null,"subject":"Money
        for you","state":"received","created_at":"2015-09-12T00:10:57Z","updated_at":"2015-09-12T00:10:57Z"}'
  recorded_at: Sat, 12 Sep 2015 00:10:57 GMT
recorded_with: VCR 2.9.3
