---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/customers/confirmation
    body:
      encoding: UTF-8
      string: '{"validation_context":null,"errors":{}}'
    headers:
      Authorization:
      - Bearer c3721bace3cfc8f2e88fcc086a464f34
      Content-Type:
      - application/json
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - https://aps.fidor.de/confirmable/actions/74ad8ad3-9fd7-4526-9a1f-39e4654d9424
      Content-Type:
      - text/html; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '409'
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://aps.fidor.de/confirmable/actions/74ad8ad3-9fd7-4526-9a1f-39e4654d9424">redirected</a>.</body></html>
  recorded_at: Mon, 24 Oct 2016 12:38:12 GMT
recorded_with: VCR 2.9.3
