---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/customers?page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      location:
      - https://aps.fidor.de/customers?page=1&per_page=1
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '80000'
      x-ratelimit-remaining:
      - '79962'
      x-ratelimit-reset:
      - '5578'
      etag:
      - W/"b71951d9312ce05c778a1adb4d97ea40"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"56152167","email":"iliev@fidor.de","first_name":"Mihail","last_name":"Iliev","additional_first_name":null,"gender":"m","title":"Mr.","nick":"iliev","maiden_name":null,"adr_street":null,"adr_street_number":null,"adr_post_code":null,"adr_city":"Sofia","birthplace":null,"adr_country":"BG","adr_phone":null,"adr_mobile":"359123456789","adr_fax":null,"adr_businessphone":null,"birthday":"1998-09-27T00:00:00+00:00","is_verified":true,"nationality":null,"marital_status":null,"occupation":null,"religion":0,"id_card_registration_city":null,"id_card_number":null,"id_card_valid_until":null,"legal":{"tos":true,"privacy_policy":true,"own_interest":true,"us_citizen":null,"us_tax_payer":null},"newsletter":null,"affiliate_uid":"049995e4-feb9-4d1e-830b-97a495264e59","created_at":"2016-09-27T12:34:41Z","updated_at":"2016-09-27T12:34:41Z"}],"collection":{"current_page":1,"per_page":1,"total_entries":1,"total_pages":1}}'
  recorded_at: Thu, 13 Oct 2016 13:13:43 GMT
- request:
    method: put
    uri: https://aps.fidor.de/customers/56152167/confirm_update
    body:
      encoding: UTF-8
      string: '{"token":"wNOXOJ5pnkJx"}'
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 303
      message:
    headers:
      location:
      - https://aps.fidor.de/confirmable/actions/0888037f-f64d-4a8c-9868-54a1238055f9
      content-type:
      - text/html; charset=utf-8
      x-ratelimit-limit:
      - '80000'
      x-ratelimit-remaining:
      - '79961'
      x-ratelimit-reset:
      - '5565'
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://aps.fidor.de/confirmable/actions/0888037f-f64d-4a8c-9868-54a1238055f9">redirected</a>.</body></html>
  recorded_at: Thu, 13 Oct 2016 13:13:56 GMT
recorded_with: VCR 2.9.3
