---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/customers
    body:
      encoding: UTF-8
      string: '{"id":null,"email":"walther@heisenberg.com","first_name":"Walther","last_name":"White","gender":"m","title":"1","nick":null,"maiden_name":null,"adr_street":"Negra Arroyo Lane","adr_street_number":"308","adr_post_code":"87111","adr_city":"Albuquerque","adr_country":"US","adr_phone":null,"adr_mobile":"4917666666666","adr_fax":null,"adr_businessphone":null,"birthday":"1957-09-07","is_verified":null,"nationality":"US","marital_status":1,"religion":null,"id_card_registration_city":null,"id_card_number":null,"id_card_valid_until":null,"created_at":null,"updated_at":null,"creditor_identifier":null,"affiliate_uid":"1398b666-6666-6666-6666-666666666666","verification_token":"tE5MpiQ4AazIGFgV5cS3HFbNy6IL8Ey2IpgtUnxgzm59zDTQny4ViVjl8wpz1clRCYDQ2w","password":"superDuperSecret","tos":true,"privacy_policy":true,"own_interest":true,"us_citizen":true,"us_tax_payer":true,"preferred_language":null,"community_user_picture":null,"country_of_birth":null,"additional_first_name":"Heisenberg"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aHRhdXRoLXVzZXI6aHRhdXRoLXBhc3N3b3Jk
  response:
    status:
      code: 201
      message:
    headers:
      status:
      - 201 Created
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"944877c6b11a55271008c22e515a53cc"'
      location:
      - ''
      x-fidor-api-machine:
      - api-sandbox.fidor.intern
    body:
      encoding: UTF-8
      string: '{"id":"42","email":"walther@heisenberg.com","first_name":"Walther","last_name":"White","additional_first_name":null,"gender":"m","title":"Mr.","nick":null,"maiden_name":null,"adr_street":"Negra
        Arroyo Lane","adr_street_number":"308","adr_post_code":"87111","adr_city":"Albuquerque","birthplace":null,"adr_country":"US","adr_phone":null,"adr_mobile":"4917666666666","adr_fax":null,"adr_businessphone":null,"birthday":"1957-09-07T00:00:00+00:00","is_verified":false,"nationality":"US","marital_status":1,"occupation":null,"religion":0,"id_card_registration_city":null,"id_card_number":null,"id_card_valid_until":null,"legal":{"tos":true,"privacy_policy":true,"own_interest":true,"us_citizen":true,"us_tax_payer":true},"newsletter":null,"affiliate_uid":null,"created_at":"2016-02-24T15:26:54Z","updated_at":"2016-02-24T15:26:54Z"}'
  recorded_at: Wed, 24 Feb 2016 15:26:54 GMT
recorded_with: VCR 2.9.3
