---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/customers?page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      x-limit:
      - '1'
      x-offset:
      - '0'
      x-total:
      - '1'
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"54cab76a4ee925e848ed0d770f888408"'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"857","email":"philip_7261@fidortecs.de","first_name":"Philip","last_name":"Müller","gender":"m","title":"Herr","nick":null,"maiden_name":null,"adr_street":"Am","adr_street_number":"35","adr_post_code":"27204","adr_city":"Hannover","adr_country":"DE","adr_phone":"069-314717","adr_mobile":"0151-1363453","adr_fax":"030-1464313","adr_businessphone":"0172-1388544","birthday":"1995-02-19","is_verified":true,"nationality":"DE","marital_status":6,"religion":18,"id_card_registration_city":"Frankfurt","id_card_number":"7000000446","id_card_valid_until":"2016-09-02","created_at":"2015-08-26T15:43:30Z","updated_at":"2015-08-26T15:43:30Z"}],"collection":{"total_pages":1,"per_page":1,"current_page":1}}'
  recorded_at: Sun, 30 Aug 2015 19:32:09 GMT
recorded_with: VCR 2.9.3
