---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/customers?page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '345234'
      X-Ratelimit-Remaining:
      - '345232'
      X-Ratelimit-Reset:
      - '533'
      X-Miniprofiler-Ids:
      - '["3dgifzj478g8yjupt740","r30sl5juvrwmq1b4xerp","loj3dk0xpa3it1ymb5fv","dd31blnrm2itejrm0hl9","ydzzf0w33y04142b3aa3","biktq4vs6jxm5jwjdg6w","le9dfl2kjlv8ojcibbr3","bmuflyul0pmw981vvds1","5pj90p6sawon7g3w9r5d","uu4r9qahkwqqnqwvp3ns"]'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"74375399","email":"yuliansavov@gmail.com","first_name":"Yulian","last_name":"Savov","additional_first_name":"Ivanov","gender":"m","title":"Mr.","nick":"yuli2","maiden_name":null,"adr_street":null,"adr_street_number":null,"adr_post_code":null,"adr_city":"Abu
        dabi","birthplace":null,"adr_country":"AE","adr_phone":null,"adr_mobile":"971888547955","adr_fax":null,"adr_businessphone":null,"birthday":"1998-11-07T00:00:00+00:00","is_verified":true,"nationality":null,"marital_status":null,"occupation":null,"religion":0,"country_of_birth":null,"preferred_language":"EN","id_card_registration_city":null,"id_card_number":null,"id_card_valid_until":null,"legal":{"tos":true,"privacy_policy":true,"own_interest":true,"us_citizen":null,"us_tax_payer":null},"newsletter":null,"affiliate_uid":null,"community_user_picture":"http://127.0.0.1:3001/uploads/users/photos/9/default.jpg","created_at":"2016-11-07T09:15:27Z","updated_at":"2016-11-22T12:10:38Z"}],"collection":{"current_page":1,"per_page":1,"total_entries":1,"total_pages":1}}'
  recorded_at: Wed, 14 Dec 2016 15:06:08 GMT
- request:
    method: put
    uri: https://aps.fidor.de/customers/74375399/request_update
    body:
      encoding: UTF-8
      string: '{"password":"1234"}'
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '345234'
      X-Ratelimit-Remaining:
      - '345231'
      X-Ratelimit-Reset:
      - '533'
    body:
      encoding: UTF-8
      string: '{"code":422,"errors":[{"field":"password","message":"is too short (minimum
        is 8 characters)","key":"too_short","count":8}],"message":"Validation failed","key":["validation_failed"]}'
  recorded_at: Wed, 14 Dec 2016 15:06:08 GMT
recorded_with: VCR 2.9.3
