---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/beneficiaries
    body:
      encoding: UTF-8
      string: '{"account_id":"91318832","unique_name":"joey_doey","contact":{},"bank":{},"routing_type":"UTILITY","routing_info":{"utility_provider":"Utility
        Provider","utility_service":"Utility Service","utility_service_number":"12345678"}}'
    headers:
      Authorization:
      - Bearer 73570bdde25a22bc7219acd1d43a1cde
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Fidor-Confirmation-Path:
      - "/fidor_api/confirmable/actions/58ac0bdb-e788-4434-bac9-a663497ac415"
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3599'
      X-Ratelimit-Reset:
      - '1044'
      X-Miniprofiler-Ids:
      - '["xkt90yq045oa9x6t02ho","aozfn5zghm2rfjf4zymx","86ndjl4ki6tueirbp8a","rp6vv5eeifk0n2urrdi2","8ntjrz0l87bq1pxn253f","89561hc37ev10wh3woys","n72cp6k9tnrs1ppangps","nesy6qegdj7y8skdz8dw","fmnoidt0dsjipfyuzrof","1tpqf0lsk9ztmdb08wtm"]'
    body:
      encoding: UTF-8
      string: '{"id":"711e1549-cbb3-4018-913b-13d90530184e","account_id":"91318832","unique_name":"joey_doey","contact":{"name":null,"address_line_1":null,"address_line_2":null,"city":null,"country":null},"bank":{"name":null,"address_line_1":null,"address_line_2":null,"city":null,"country":null},"routing_type":"UTILITY","routing_info":{"utility_provider":"Utility
        Provider","utility_service":"Utility Service","utility_service_number":"12345678"},"verified":false,"created_at":"2017-01-13T14:12:37Z","updated_at":"2017-01-13T14:12:37Z"}'
  recorded_at: Fri, 13 Jan 2017 14:12:37 GMT
recorded_with: VCR 2.9.3
