---
http_interactions:
- request:
    method: put
    uri: https://aps.fidor.de/cards/7/limits
    body:
      encoding: UTF-8
      string: '{"limits":{"single":200000,"volume":200000}}'
    headers:
      Authorization:
      - Bearer 157a51be230c2d7f186d7bb249d41d75
      Content-Type:
      - application/json
  response:
    status:
      code: 303
      message:
    headers:
      x-ratelimit-limit:
      - '60'
      x-ratelimit-reset:
      - '835'
      x-ratelimit-remaining:
      - '59'
      location:
      - https://aps.fidor.de/confirmable/actions/1f4bd7eb-0e21-44bb-8a55-6a0385861ee3
      status:
      - 303 See Other
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://aps.fidor.de/confirmable/actions/1f4bd7eb-0e21-44bb-8a55-6a0385861ee3">redirected</a>.</body></html>
  recorded_at: Mon, 05 Sep 2016 14:16:06 GMT
recorded_with: VCR 2.9.3
