---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/cards/7/limits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 157a51be230c2d7f186d7bb249d41d75
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      x-ratelimit-limit:
      - '60'
      x-ratelimit-reset:
      - '384'
      x-ratelimit-remaining:
      - '59'
      x-miniprofiler-ids:
      - '["pyxhnx09x6s3k2yjjgex","j081vmujnf5l0xg0ba55","o0dl7deivaibsialuypg","ma0nl6dmbcukndszcmby","bl66vjzuoe3y7lneyckx","x9jri1g9vokco81855tu","gjzyzbc7nhw8584u9ju7","l7sqhvr8vmfti2gtjpnp","1e108ulzxzlcpuni00wh","bvkggepoj360821zl091"]'
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limits":{"atm":25000,"pos":65000,"single":100000,"volume":100000},"currency":"EUR"}'
  recorded_at: Mon, 05 Sep 2016 14:08:37 GMT
recorded_with: VCR 2.9.3
