---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/fps_transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      x-limit:
      - '50'
      x-offset:
      - '0'
      x-total:
      - '2'
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"4a8046c3b3a3d1438e348a0798c3e279"'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"5","external_uid":"4279762F8","account_id":"1","user_id":"1","transaction_id":null,"subject":"Money
        for you","amount":1000,"currency":null,"fee":null,"remote_name":"John Doe","remote_account":"87654321","remote_sort_code":"654321","state":"received","created_at":"2016-04-13T20:02:34Z","updated_at":"2016-04-13T20:02:34Z"},{"id":"4","external_uid":"6HxtkRR3gflyuEUQWKEYEu2kTb5XTACA","account_id":"1","user_id":"1","transaction_id":null,"subject":"Money
        for you","amount":1000,"currency":null,"fee":null,"remote_name":"John\n        Doe","remote_account":"87654321","remote_sort_code":"654321","state":"received","created_at":"2016-04-13T20:00:29Z","updated_at":"2016-04-13T20:00:29Z"}],"collection":{"per_page":50,"current_page":1,"current_entries":2,"total_entries":2,"total_pages":1}}'
  recorded_at: Wed, 13 Apr 2016 20:03:08 GMT
recorded_with: VCR 2.9.3
