---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/fps_transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"1","external_uid":"4279762F8","remote_account":"87654321","remote_sort_code":"654321","remote_name":"John
        Doe","amount":1000,"subject":"Money for you"}'
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a1361b55be6cddb08e9faa24be301467"'
    body:
      encoding: UTF-8
      string: '{"id":"5","external_uid":"4279762F8","account_id":"1","user_id":"1","transaction_id":null,"subject":"Money
        for you","amount":1000,"currency":null,"fee":null,"remote_name":"John Doe","remote_account":"87654321","remote_sort_code":"654321","state":"received","created_at":"2016-04-13T20:02:34Z","updated_at":"2016-04-13T20:02:34Z"}'
  recorded_at: Wed, 13 Apr 2016 20:02:34 GMT
recorded_with: VCR 2.9.3
