---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/fps_transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"999","external_uid":"4279762F8","remote_account":"87654321","remote_sort_code":"654321","remote_name":"John
        Doe","amount":1000,"subject":"Money for you"}'
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message:
    headers:
      status:
      - 409 Conflict
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":422,"errors":[{"field":"account_id","message":"anything"}],"message":"Validation failed"}'
  recorded_at: Wed, 13 Apr 2016 20:02:34 GMT
recorded_with: VCR 2.9.3
