---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://aps.fidor.de/fidor_api/transfers
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9994'
      x-ratelimit-reset:
      - '2552'
      etag:
      - W/"3c42d249b2abf82db979b1550945b72e"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"5f44f7d0-fb4d-4e16-816b-702aa24c27d0","account_id":"65753938","external_uid":"d75286a83be91771","amount":456,"currency":"USD","subject":"ACH
        Test","state":"completed","beneficiary":{"contact":{"name":"Homer J. Simpson"},"routing_type":"ACH","routing_info":{"account_number":"1234567890","routing_code":"123456789"}}},{"id":"1ee0f748-2a64-4914-b7d8-e34a6d320bb2","account_id":"65753938","external_uid":"8657b6376bea4e5f","amount":123,"currency":"USD","subject":"ACH
        Test 2","state":"completed","beneficiary":{"contact":{"name":"C. M. Burns"},"routing_type":"ACH","routing_info":{"account_number":"1234567890","routing_code":"123456789"}}},{"id":"587b8310-9db8-4a75-8c8b-c045af3805d0","account_id":"65753938","external_uid":"81e6b4a9d7bf6c07","amount":789,"currency":"USD","subject":"ACH
        [...]
