---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/transfers/5f44f7d0-fb4d-4e16-816b-702aa24c27d0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://aps.fidor.de/fidor_api/transfers/5f44f7d0-fb4d-4e16-816b-702aa24c27d0
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9995'
      x-ratelimit-reset:
      - '2655'
      etag:
      - W/"42498314316fb73d381b483fb2f485b8"
    body:
      encoding: UTF-8
      string: '{"id":"5f44f7d0-fb4d-4e16-816b-702aa24c27d0","account_id":"65753938","external_uid":"d75286a83be91771","amount":456,"currency":"USD","subject":"ACH
        Test","state":"completed","beneficiary":{"contact":{"name":"Homer J. Simpson"},"routing_type":"ACH","routing_info":{"account_number":"1234567890","routing_code":"123456789"}}}'
  recorded_at: Mon, 27 Jun 2016 14:15:45 GMT
recorded_with: VCR 2.9.3
