---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"999","external_uid":"4279762F8","amount":1000,"currency":"USD","subject":"Money
        for you","beneficiary":{"contact":{"name":"John Doe"},"routing_type":"ACH","routing_info":{"account_number":"1234567890","routing_code":"123456789"}}}'
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '10000'
      x-ratelimit-remaining:
      - '9989'
      x-ratelimit-reset:
      - '2278'
    body:
      encoding: UTF-8
      string: '{"code":422,"errors":[{"field":"account_id","message":"should be the
        token user''s account id"}],"message":"Invalid transfer","key":["validation_failed"]}'
  recorded_at: Mon, 27 Jun 2016 14:22:03 GMT
recorded_with: VCR 2.9.3
