---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/sepa_credit_transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a1e8f8d70e5490611c4ef051f3a36e09
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      x-limit:
      - '50'
      x-offset:
      - '0'
      x-total:
      - '11'
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"56d8c98c108c4b8d97dd19e5fecc3e70"'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"10548","external_uid":"4279762F6","account_id":"875","user_id":"875","transaction_id":"28837","subject":"Money for you","amount":1000,"currency":null,"remote_name":"John Doe","remote_iban":"AT131490022010010999","remote_bic":"SPADATW1XXX","state":"success","created_at":"2015-09-12T01:03:48Z","updated_at":"2015-09-12T01:03:55Z"},{"id":"10547","external_uid":"0049a386b18c5da8df10","account_id":"875","user_id":"875","transaction_id":"28821","subject":"Rentenversicherung 2005","amount":72907,"currency":"EUR","remote_name":"Felix Braun","remote_iban":"DE26844843586112417701","remote_bic":"HYVEDEMM393","state":"success","created_at":"2015-09-10T16:41:01Z","updated_at":"2015-09-10T16:41:01Z"},{"id":"10546","external_uid":"3949dec70272758414fb","account_id":"875","user_id":"875","transaction_id":"28820"[...]
