---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/sepa_credit_transfers
    body:
      encoding: UTF-8
      string: '{"account_id":999,"external_uid":"4279762F6","remote_iban":"AT131490022010010999","remote_bic":"SPADATW1XXX","remote_name":"John
        Doe","amount":"1000","subject":"Money for you"}'
    headers:
      Authorization:
      - Bearer a1e8f8d70e5490611c4ef051f3a36e09
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message:
    headers:
      status:
      - 500 Internal Server Error
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":422,"errors":[{"field":"account_id","message":"anything"}],"message":"Validation failed"}'
  recorded_at: Sat, 12 Sep 2015 01:03:48 GMT
recorded_with: VCR 2.9.3
