---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/confirmable/actions/8437c0c7-f704-4fc8-8ee0-3c18aedc8484
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0816d2665999fbd76a69c6f0050a49fa
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '893'
      x-miniprofiler-ids:
      - '["bjruf2azmr3sn37klh2j","eh54ok56rb65f1hiqjwm","hw2o7f6wi205g2ftmivc","408ijel2i9cjbzbfy16s","rcukwlvq14avtwtdldf5","3ti7kz5m3ubc0gw8by5d","wagwmfwn94qb1lcvbs5y","mniiuws4z511vsdlp4py","t5pmea257xygqcqrs6q9","qn9zfh2fwlachdpkq1qp"]'
    body:
      encoding: UTF-8
      string: '{"id":"8437c0c7-f704-4fc8-8ee0-3c18aedc8484","type":"confirmable/transfer/complete","message":"Action requires
        confirmation","steps_left":["otp"],"steps_completed":[],"path":"/fidor_api/confirmable/actions/15","result":null,"resource":{"id":"39b268eb-e301-42c9-8333-d5e3065845b6","account_id":"29208706","external_uid":"4279762F8","amount":1000,"currency":"AED","subject":"Money
        for you","state":"created","beneficiary":{"contact":{"name":"John Doe"},"routing_type":"ACH","routing_info":{"account_number":"1234567890","routing_code":"123456789"}},"created_at":"2016-06-28T12:32:05Z","updated_at":"2016-06-28T12:32:05Z"},"succeeded_at":null,"failed_at":null,"errored_at":null,"created_at":"2016-06-28T12:32:05Z","updated_at":"2016-06-28T12:32:05Z"}'
  recorded_at: Tue, 28 Jun 2016 15:15:08 GMT
recorded_with: VCR 2.9.3
