---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/users/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
  response:
    status:
      code: 200
      message: 
    headers:
      status:
      - 200 OK
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2999c0c55946f2500252eca7f3928330"'
    body:
      encoding: UTF-8
      string: '{"id":"857","email":"api_tester@example.com","msisdn_activated_at":"2015-08-26T15:43:30Z","last_sign_in_at":null,"created_at":"2015-08-26T15:43:30Z","updated_at":"2015-08-26T15:43:30Z"}'
  recorded_at: Sun, 30 Aug 2015 19:07:55 GMT
recorded_with: VCR 2.9.3
