---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"999","external_uid":"4279762F9","amount":1000,"currency":"USD","subject":"Money
        for you","beneficiary":{"unique_name":"Johnny Doey","contact":{},"bank":{},"routing_type":"UTILITY","routing_info":{"utility_provider":"Utility
        Provider","utility_service":"Utility Service","utility_service_number":"12345678"}}}'
    headers:
      Authorization:
      - Bearer token2
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3574'
      X-Ratelimit-Reset:
      - '173'
    body:
      encoding: UTF-8
      string: '{"code":422,"errors":[{"field":"account_id","message":"should be the
        token user''s account id"}],"message":"Invalid transfer","key":["validation_failed"]}'
  recorded_at: Fri, 13 Jan 2017 16:27:08 GMT
recorded_with: VCR 2.9.3
