---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"999","external_uid":"4279762D9","amount":1000,"currency":"USD","subject":"Money
        for you","beneficiary":{"unique_name":"Johnny Doey","contact":{},"bank":{},"routing_type":"UTILITY","routing_info":{"utility_provider":"Utility
        Provider","utility_service":"Utility Service","utility_service_number":"12345678","inquiry_ref_num":"534Z2qoa1qig46d4"}}}'
    headers:
      Authorization:
      - Bearer 0816d2665999fbd76a69c6f0050a49fa
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3586'
      X-Ratelimit-Reset:
      - '743'
    body:
      encoding: UTF-8
      string: '{"code":422,"errors":[{"field":"account_id","message":"should be the
        token user''s account id"}],"message":"Invalid transfer","key":["validation_failed"]}'
  recorded_at: Tue, 17 Jan 2017 14:47:38 GMT
recorded_with: VCR 2.9.3
