---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"29208706","external_uid":"4279762D9","amount":1000,"currency":"USD","subject":"Money
        for you","beneficiary":{"unique_name":"Johnny Doey","contact":{},"bank":{},"routing_type":"UTILITY","routing_info":{"utility_provider":"Utility
        Provider","utility_service":"Utility Service","utility_service_number":"12345678","inquiry_ref_num":"534Z2qoa1qig46d4"}}}'
    headers:
      Authorization:
      - Bearer 0816d2665999fbd76a69c6f0050a49fa
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Fidor-Confirmation-Path:
      - "/fidor_api/confirmable/actions/13a414ce-1560-43e7-870f-c43829b9d589"
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3587'
      X-Ratelimit-Reset:
      - '743'
      X-Miniprofiler-Ids:
      - '["bebweqr9bn8h3gdhx8vm","aozfn5zghm2rfjf4zymx","86ndjl4ki6tueirbp8a","rp6vv5eeifk0n2urrdi2","8ntjrz0l87bq1pxn253f","89561hc37ev10wh3woys","n72cp6k9tnrs1ppangps","nesy6qegdj7y8skdz8dw","fmnoidt0dsjipfyuzrof","1tpqf0lsk9ztmdb08wtm"]'
    body:
      encoding: UTF-8
      string: '{"id":"76fa9084-870d-4b77-9f1f-e55474a5b395","account_id":"29208706","amount":1000,"currency":"USD","subject":"Money
        for you","state":"created","beneficiary":{"contact":{"name":null,"address_line_1":null,"address_line_2":null,"city":null,"country":null},"bank":{"name":null,"address_line_1":null,"address_line_2":null,"city":null,"country":null},"routing_type":"UTILITY","routing_info":{"utility_provider":"Utility
        Provider","utility_service":"Utility Service","utility_service_number":"12345678","inquiry_ref_num":"534Z2qoa1qig46d4"}},"created_at":"2017-01-17T14:47:38Z","updated_at":"2017-01-17T14:47:38Z","external_uid":"4279762D9","beneficiary_id":null}'
  recorded_at: Tue, 17 Jan 2017 14:47:38 GMT
recorded_with: VCR 2.9.3
